.App {
    height: 95vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
  
    @keyframes slideInFromLeft {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0);
      }
    }
  
  
    /* Welcome message div */
    .App-content {
      animation: 2s ease-out 0s 1 fadeIn;
      color: white;
      height: 100%;
      margin: auto;
      width: 50%;
      text-align: center;
      padding-top: 10%;
    }
  
  /* WCI CHESS*/
    .Wci-chess {
      animation: 2s ease-out 0s 1 fadeIn;
      font-size: 5em;
      color: #CFB257;
    }
  
    @keyframes fadeIn {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
  
  @keyframes zoomIn {
    0% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1,1);
    }
  }
  
  /* button - join now */
    .button-join{
      animation: 6s ease-out 0s 1 fadeIn;
    }
  

.circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  left: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  border-radius: 70%;
}

circle li.blue {
  background: rgba(255, 255, 255, 0);
}