* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Slabo 13px', serif;
}

/* container for image and divs*/
.App {
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }


  /* Welcome message div */
  .App-content {
    animation: 2s ease-out 0s 1 slideInFromLeft;
    color: white;
    height: 100%;
    padding-top: 15%;
    padding-left: 13%;
  }

/* WCI CHESS*/
  .Wci-chess {
    animation: 3s ease-out 0s 1 slideInFromLeft;
    font-size: 4em;
    color: #CFB257;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes zoomIn {
  0% {
      transform: scale(1.2, 1.2);
  }
  100% {
      transform: scale(1,1);
  }
}

/* button - join now */
  .button-join{
    animation: 6s ease-out 0s 1 fadeIn;
    float: right;
    padding: 16%;
  }

/* About Us Section */

.About-us-container {
  margin: auto;
  width: 85%;
  overflow: hidden;
  padding-bottom: 200px;
}


.About-us-carousel {
  float: right;
  display: inline;
  width: 50%;
  margin-top: 5%;
}

.About-us-text {
  width: 50%;
  float: left;
  animation: zoomIn 3s forwards;
  padding-right: 5%;
}

.About-us-heading {
  padding-top: 10%;
  padding-left: 10%;
}
  .headline {
    line-height: 1.5em;
    color: #43392A;
    font-size: 2em;
    position: relative;
  }

  .headline:after {
    content:' ';
    position: absolute;
    top:100%;
    left:50%;
    width: 30vh;
    border:4px solid #CFB257;
    border-radius:4px;
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, .05);
    transform:translateX(-50%);
  }

  .About-us-content-div {
    font-size: 25px;
    padding-top: 5%;
    padding-left: 9%;
    width: 100%;
  }

.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}