.container {
}

.About-us-container {
    overflow: hidden;
    border: 3px solid black;
}
  
  .About-us-text {
    animation: zoomIn 3s forwards;
    text-align: center;
  }
  
    .headline {
      line-height: 1.5em;
      color: #43392A;
      font-size: 2em;
      position: relative;
    }
  
    .About-us-content-div {
      font-size: 20px;
      width: 100%;
    }

.About-us-heading-cards {
  text-align: center;
  padding-top: 5%;
}

.headline-cards {
  line-height: 1.5em;
  color: #43392A;
  font-size: 2em;
}

@media screen and (max-width: 769px) {
  .headline-cards {
    font-size: 1.5em;
  }
} 

